:root {
   --primary-color: rgb(112, 7, 7);
   --secondary-color: grey;
   --text-font-family: 'Roboto', sans-serif;

 }
 .main__game {
   font-family: var(--text-font-family);
 }

 .game__title {
   color: var(--secondary-color);
   margin-bottom: 15px;
   font-weight: 600;
 }

 .game__title2 {
   color: var(--primary-color);
   margin-bottom: 20px;
   font-weight: 700;
 }

 .game__text--1 {
   color: var(--secondary-color);
   margin-bottom: 20px;
 }
 .game__text--2 {
   margin-bottom: 20px;
   font-weight: 900;
 }
 .btn {
   background-color: var(--primary-color);
   color: white;
   width: 100px;
   height: 40px;
   border-radius: 5px;
   border: none;
 }

 .game__subtitle{
   background-color: var(--primary-color);
   width: 400px;
   height: 40px;
   text-align: center;
   color: white;
   border-radius: 5px;
   
 }