:root {
  --primary-color: rgb(112, 7, 7);
  --secondary-color: grey;
  --btn-text-color: white; 
  --text-font-family: 'Roboto', sans-serif;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-family: var(--text-font-family);
}

.main__game{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 550px;
  margin: 10px;
}

.photoLord {
  background-image: url(../img/anillos-de-poder.jpeg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.wrap__game {
display: flex;
flex-direction: column;
padding: 10px 0 10px 20px;
}

.game__title {
  color: var(--secondary-color);
  font-size: 20px;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.game__title2 {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.game__text--1 {
  color: var(--secondary-color);
  margin-bottom: 30px;
  line-height: 20px;
  
}

.game__text--2 {
  margin-bottom: 20px;
  font-weight: 900;
  line-height: 20px;
 
}

.select {
  border: 3px solid rgb(192,192,192,0.5);
  color: var(--secondary-color);
  padding: 6px;
  cursor:pointer;
}

.btn {
  background-color: var(--primary-color);
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: none;
  text-transform: capitalize;
  cursor:pointer;
}

.hidden {
  display: none;
} 

.game__subtitle{
 background-color: rgb(112, 7, 7,0.3);
 width: 382px;
 padding: 6px 0 6px 0;
 text-align: center;
 color: white;
 border-radius: 5px;
 margin-top: 20px;
}

.score{
  color: var(--primary-color);
  font-size: 20px;
  letter-spacing: 3px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.wrap-score{
  display: flex;
  flex-direction: row;
  color: var(--secondary-color);
  font-size: 20px;
  gap: 40px;
  justify-content: center;
}